@import url("reset.css");
@import url("comon.css");

.menu {}


.project {}

.project__name {
   display: inline-block;
   font-family: "Poppins";
   font-size: 18px;
   font-weight: 700;
   line-height: 25px;
   letter-spacing: 0em;
   text-align: left;

}


.botton {

   font-family: "Poppins";
   font-size: 12px;
   font-weight: 500;
   line-height: 25px;
   letter-spacing: 0em;
   text-align: left;
   color: #49505780;
   ;
}

.botton-inspiration {}

.botton-tutorials {}

.botton-courses {}

.page-header {}

.content {
   font-family: Poppins;
   font-size: 25px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0em;
   text-align: center;
   color: #F8F9FA;
   padding-top: 227px;
}

.page-header {
   background-image: url("../img/1.png");
   height: 500px;
}

.pages {
   height: 20px;
   color: #F8F9FA;
   text-align: center;
   margin-top: 70px;
}

.desing {}

.title {
   display: inline-block;
   font-family: "Poppins";
   font-size: 25px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0em;
   text-align: left;
   color: #212529;
   max-width: 393px;
   ;

}

.link {
   display: inline-block;
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 500;
   line-height: 25px;
   letter-spacing: 0em;
   text-align: left;
   color: #C4C4C4;
   margin-right: 30px;
}


.about {

   &__all {}

   &__modern {}

   &__industrial {}

   &__art {}

   &__contemporary {}

   &__minimalist {}
}

.block {

   &__first {}

   &__foto {}

   &__second {}

   &__third {}

   &__fourth {}

   &__fifth {}

   &__sixth {}

   &__seventh {}

   &__eighth {}

   &__ninth {}

   &__ninht {}
}

.date-block {
   font-family: "Popins";
   font-size: 12px;
   font-weight: 300;
   line-height: 1.7;
   color: #495057;
   ;


}

.content-block {

   font-family: "Poppins";
   font-size: 16px;
   font-weight: 500;
   line-height: 1.6;
   color: #212529;
}


.trending {}

.trending-block-first {
   background: url("../img/11.png") no-repeat;
   height: 393px;
}

.trending-block-second {
   background: url("../img/12.png")no-repeat;
   height: 393px;
}

.trending-block-third {
   background: url("../img/13.png")no-repeat;

   height: 393px;
}

.trending-block-fourth {
   background: url("../img/14.png")no-repeat;
   height: 393px;
}

.trending-block-fifth {
   background: url("../img/15.png") no-repeat;
   height: 393px;
}

.trending date-block {
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 300;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: right;
   color: #E5E5E5;

}

.trending__content-block {
   font-family: Poppins;
   font-size: 16px;
   font-weight: 500;
   line-height: 25px;
   letter-spacing: 0em;
   text-align: left;
   color: #F8F9FA;
   max-width: 393px;
   ;


}

.page-bottom {

   __label {}

   &__adress {}

   &__rights {}
}

.about-studio {}

.archive {}

.contact-us {}

.social-networks {}